.screenshot {
  padding-top:30px;
  height: 200px;
  width: 300px;
}

.tile {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	margin-top: 25px;
	text-align: center;
	border: 2px solid #E13A63;
	box-sizing: border-box;
}

.tile img	{
	display: block;
	margin: 0 auto;
}

@media screen and (min-width:319px) and (max-width:812px){
  .tile{
    display: block;
    width: 100%;
    border:none;
  }
  .tile img{
    display: block;
    width: 100%;
    height: 100%;
  }
  .main-content{
    margin: 0px 20px;
  }

}
